.instructorDetails {
    background-color: rgb(122, 105, 123);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    width:250px;
    
}
/* .instructor-card {
    display: flex;
    display: wrap;
} */

.instructorHeader {
    background-color:rgb(122, 105, 123);
    height: 50px; 
    border-radius:10px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
  }