.navbar {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    gap: 500px; 
    display: inline;
}

.navbar__item {
    display: flex;
    gap: 30px; 
    /* list-style-type: none; */
    /* justify-content: center; */
    /* flex-wrap: wrap;
    display: inline; */
}

.navbar-brand {
    margin-left: 2rem;
}

.navbar-nav {
    justify-content: center;
    display: flex;
}
